<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Barang</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="daftar-produk-body">
    <%- include('layout/sidebar') %>
    <h1>Daftar Barang</h1>
    <div class="cart-container">
        <% produkList.forEach(produk => { %>
            <div class="cart-item">
                <img src="/image/<%= produk.foto %>" alt="Foto Produk" width="100">
                <div class="cart-item-info">
                    <p><strong>Nama Produk :</strong> <%= produk.namaProduk %></p>
                    <p><strong>Harga :</strong> Rp. <%= produk.harga.toLocaleString() %></p>
                  <p><strong>Stok Tersedia:</strong> <%= produk.stokTersedia %> </p>
                </div>
                <a href="/produk/edit/<%= produk._id %>" class="btn btn-primary">Update</a>
                <a href="/produk/hapus/<%= produk._id %>" class="btn btn-danger">Hapus</a>
            </div>
        <% }); %>
    </div>

</body>
</html>
